@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   }


body {
  font-family: 'Josefin Sans', sans-serif;
  background: #fff;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  overflow-x: hidden !important;
}

.btn{
  padding: 12px 35px;
  border-radius: 50px;
  border:3px solid white;
  color: white;
  margin-right: 20px;
  text-transform: uppercase;
  font-weight: 600;
  background: transparent;
}

.btn-white{
  color: #FA7D24;
  background: white;
}

.btn-dark{
  color: #000;
  border:3px solid #000;
}

/***************start of css of index page *****************/

/***navbar***/

header{
}
.navbar{
  padding: 5px 50px;
  z-index: 10000;
}
.navbar-brand img{
  height: 70px; 
  width: auto;
}

.right-nav-menu ul{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}

.right-nav-menu .nav-item{
  margin-left: 30px;
}

.right-nav-menu .nav-link{
  color: white !important;
}

.right-nav-menu .nav-link:hover{
  color: orange !important;
}

.right-nav-menu .nav-link:hover img{
  filter: invert(59%) sepia(97%) saturate(1214%) hue-rotate(358deg) brightness(102%) contrast(106%);
}

.right-nav-menu .nav-link img{
  padding-right: 10px;
}

@media only screen and (max-width: 990px){
  .navbar{
    padding: 5px 0px;
    z-index: 10000;
  }
}

/**main section***/

.main-section{
  position: relative;
  top: -100px;
}

.main-left-side-image{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.main-right-side-image{
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}

.main-left-side-content-area{
  position: relative;
  top: 200px;
  left: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  z-index: 10;
}

.main-left-side-content-area h5{
  margin-bottom: 20px;
}

.main-left-side-content-area h2{
  font-size: 50px;
  letter-spacing: 0.5px;
  font-weight: 300;
}

.main-left-side-content-area h2 span{
  font-weight: 600;
}

.main-left-side-content-area p {
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 1px;
}

.main-button-area{
  display: inline-flex;
  flex-direction: row;
}

.main-left-side-content-area .main-left-side-arrow-img{
  height: 12px;
  width: auto;
  margin-top: 50px;
}


/********feature section**********/

.feature-section{
  position: relative;
  top: 240px;
  background: white;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  padding-bottom: 30px;
  z-index: 1;
}

.feature-content-area h5{
  font-weight: 900;
  padding: 20px 0px 0px 0px;
}

.section-title{
  margin-bottom: 50px;
}

.section-title p{
  font-size: 35px;
  font-weight: 400;
}

.section-title p span{
  font-weight: 900;
}

/********image section*****/

.image-section{
  margin-top: 50px;
  position: relative;
}

.image-section img{
  height: 100%;
  width: 100%;
}

/******category section ********/

.category-section{
  position: relative;
  top: -100px;
  background: rgb(33,0,66);
  background: linear-gradient(94deg, rgba(33,0,66,1) 0%, rgba(67,17,117,1) 50%, rgba(33,0,66,1) 100%);
  color: white;
  padding: 50px 0px 20px 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.category-section h2{
  font-weight: 900;
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
}

.category-section h2 span{
  font-weight: 100 !important;
}

.category-nav-section{
  width: fit-content;
  padding: 20px 50px 0px 50px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.01), 0 4px 4px rgba(0, 0, 0, 0.02),
    0 8px 8px rgba(0, 0, 0, 0.03), 0 18px 18px rgba(0, 0, 0, 0.04),
    0 28px 28px rgba(0, 0, 0, 0.05), 0 38px 38px rgba(0, 0, 0, 0.06);
}

.nav-tabs{
  border:none;
}


.category-nav-section .nav-link{
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 20px;
  color: white;
}

.category-nav-section .nav-link.active{
  color: #FA7D24;
  padding-bottom: 20px;
  border-left:none;
  border-right: none;
  border-top: none;
  border-bottom: 3px solid #FA7D24;
  background: none;
}

.next-icon{
  height: 15px;
  width: 15px;
  filter: invert(1);
}

.plan_carousel{
  padding-top:50px;
}

.plan_carousel img{
  height: 180px;
  width: auto;
  border-radius: 35px;
}

.plan_carousel h5{
  font-size: 25px;
  margin-top: 20px;
  color: #FA7D24;
  font-weight: 600;
}

.plan_carousel p{
  font-weight: 300;
  font-size: 18px;
}

.plan_carousel p span{
  font-weight: 600;
}


.owl-next{
  font-size: 50px !important;
  margin-left: 20px;
}

.owl-prev{
  font-size: 50px !important;
}

/****review section *******/

.review-section-title{
  font-size: 35px;
  font-weight: 400;
}

.review-section-title span{
  font-size: 38px;
  font-weight: 900;
}

.review-message{
  font-weight: 700;
  font-size: 25px;
}

.review-user-name{
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 200;
}

.info-area-section{
  margin: 50px 0px;
}

.info-side-img{
  height: 100%;
  width: 100%;
}

.info-text-area{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding-left: 90px;
}

.info-text-area h1{
  font-weight: 900;
  margin-top: 30px;
}

.info-text-area h1 span{
  font-weight: 400;
}

.info-text-area p{
  font-size: 22px;
  color: grey;
}

.info-text-area img{
  filter: invert(1);
}

/********bottom section *******/

.bottom-section{
  position: relative;
}

.bottom-left-side-image{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.bottom-right-side-image{
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}

.bottom-left-side-content-area{
  position: relative;
  top: 200px;
  left: 100px;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  z-index: 10;
}

.bottom-left-side-content-area h5{
  margin-bottom: 20px;
}

.bottom-left-side-content-area h2{
  font-size: 50px;
  letter-spacing: 0.5px;
  font-weight: 300;
}

.bottom-left-side-content-area h2 span{
  font-weight: 600;
}

.bottom-left-side-content-area p {
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 1px;
}

.main-button-area{
  display: inline-flex;
  flex-direction: row;
}

.bottom-left-side-content-area .main-left-side-arrow-img{
  height: 12px;
  width: auto;
  margin-top: 50px;
}

/******* footer area *********/

footer{
  position: relative;
  top: 250px;
  background: #202020;
  z-index: 1000;
  padding: 50px 0px 0px 0px;
  color: white;
}

footer ul{
  text-decoration: none;
  list-style: none;
  padding-left: 0px;
  padding-top: 20px;
}

footer p{
  font-weight: 900;
}

footer p span{
  font-weight: 200;
}

.footer-social-area img{
  margin-right: 20px;
}

@media only screen and (max-width: 990px){
  .footer-social-area{
    margin-top: 20px;
  }
}

.Copyright-div{
  position: relative;
  bottom: 0px;
  background: #000;
  font-weight: 900;
  padding-top: 10px;
  margin-top: 40px;
}


/******clipart design *******/
.clipart1{
  position: absolute;
  bottom: -220px;
  right: 0px;
  z-index: 1;
  height: 250px;
  width: auto;
}

.clipart2{
  position: absolute;
  bottom: 10px;
  left: 50px;
  z-index: 1;
  height: 250px !important;
  width: auto !important;
}

.clipart3{
  position: absolute;
  top: -153px;
  right: 0px;
  z-index: 1;
  height: 250px;
  width: auto;
}

.clipart4{
  position: absolute;
  top: -209px;
  left: 0px;
  z-index: 10;
  width: auto;
}

.clipart5{
  position: absolute;
  top: -90px;
  right: 0px;
  z-index: 1;
  width: auto;
}

.clipart6{
  position: absolute;
  bottom: -143px;
  right: 13px;
  z-index: 10;
  height: 200px;
  width: auto
}

.clipart7{
  position: absolute;
  top: 0px;
  right: 468px;
  z-index: 1;
  width: auto;
}

.clipart8{
  position: absolute;
  top: -138px;
  left: 0px;
  z-index: 10;
  width: auto;
}

/**************************end of css of index page ************************/

/**************************start of css of product page ********************/

.main-right-side-content{
  position: relative;
  bottom: -459px;
  left: 280px;
  background: rgb(33,0,66);
  background: linear-gradient(94deg, rgba(33,0,66,1) 0%, rgba(67,17,117,1) 50%, rgba(33,0,66,1) 100%);
  color: white;
  z-index: 1;
  height: 210px;
  width: 380px;
  padding: 10px 0px 30px 50px;
  border-radius: 40px;
  box-shadow: 0 7px 88px -11px rgb(33 0 66);
}

.main-right-side-content h1{
  font-family: system-ui;
  font-size: 120px;
  color: white;
  font-weight: 900;
  margin-bottom: 2px;
}

.main-right-side-content p{
  margin-top: -15px;
  font-size: 25px;
  font-weight: 600;
  color: orange;
}

.product-category-section-title-area{

}

.product-category-nav-section{
  width: fit-content;
  padding: 20px 50px 0px 50px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.01), 0 4px 4px rgba(0, 0, 0, 0.02),
    0 8px 8px rgba(0, 0, 0, 0.03), 0 18px 18px rgba(0, 0, 0, 0.04),
    0 28px 28px rgba(0, 0, 0, 0.05), 0 38px 38px rgba(0, 0, 0, 0.06);
}

.product-category-nav-section .nav-link{
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
  margin-left: 10px;
  color: #000;
}

.product-category-nav-section .nav-link.active{
  color: #FA7D24;
  padding-bottom: 20px;
  border-left:none;
  border-right: none;
  border-top: none;
  border-bottom: 3px solid #FA7D24;
  background: none;
}

.product-section-title p{
  font-size: 35px;
  font-weight: 600;
}

.divider-class{
  margin-top: 300px;
}

.product-section{
  margin-top: 50px;
}

.product-category-area img{
  height: 180px;
  width: auto;
  border-radius: 35px;
}

.product-category-area h5{
  font-size: 25px;
  margin-top: 20px;
  color: #FA7D24;
  font-weight: 600;
}

.product-category-area p{
  font-weight: 400;
  font-size: 22px;
}

.product-category-area p span{
  font-weight: 900;
}

/********************* end of css of product page ************************/

/********************* start of css of register page *********************/

.register-page-body{
  background: linear-gradient(90deg, #F86E0B 0%, #FB8939 50.21%, #F86E0C 100%);
  position: relative;
}

.register-form-area{
  padding: 50px 0px 50px 200px;
  color: white;
}

.user_register_form{

}

.user_register_form .label-danger{
  color: black;
}

.user_register_form .form-title{
  font-size: 30px;
  font-weight: 300;
}

.user_register_form .form-group{
  margin-bottom: 15px;
}

.user_register_form .form-label{
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0px;
}

.user_register_form .form-control{
  border-radius: 50px;
  height: 50px;
  padding-left: 30px;
  font-size: 22px;
}

.user_register_form .form-select{
  background: transparent;
  height: 50px;
  padding-left: 50px;
  border: 2px solid #fff;
  border-radius: 50px;
  background-image: url("../images/icons/down-arrow.svg");  
  background-repeat: no-repeat;
  background-position: right 2rem center;
  background-size: 16px 12px;
  font-weight: 600;
  color: white;
}

.user_register_form .form-select option{
  color: black;
}

.user_register_form p{
  font-weight: 100;
}

.user_register_form a{
  color: #fff;
}

.user_register_form .captch-area{
  position: relative;
  display: inline-block;
  margin: auto;
  align-items: center;
  height: 92px;
  width: 400px;
  background: white;
  border-radius: 30px;
  padding: 10px;
}

.user_register_form .captcha-label{
  color: #000;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 22px;
  margin-top: 20px;
  padding-left: 25px;
}

.user_register_form .captch_img{
  position: absolute;
  right: 20px;
  top: 5px;
  height: 80px;
  width: auto;
}

#accept_captcha-error{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.user_register_form .btn-register{
  margin-top: 30px;
  background: transparent;
  color: white;
  border:2px solid #fff;
  padding: 15px 35px;
}

@media only screen and (max-width: 990px){
  .register-form-area{
    padding:50px;
    color: white;
  }

  .user_register_form .captch-area{
    width: 300px;
  }
}

@media only screen and (max-width: 768px){
  .user_register_form .form-select{
    background: transparent;
    height: 60px;
    padding-left: 20px;
    border: 2px solid #fff;
    border-radius: 50px;
    background-image: url("../images/icons/down-arrow.svg");  
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    font-weight: 600;
    color: white;
  }
}

@media only screen and (max-width: 540px){
  .register-form-area{
    padding: 50px 20px 10px 20px;
    color: white;
  }
}

.form-right-side-img{
  height: 350px;
  width: 420px;
}

.form-right-side-text-area{
  position: relative;
  top: -270px;
}

.form-right-side-text-area p{
  font-weight: 600;
  font-size: 35px;
  color: white;
}

.form-right-side-text-area .btn-login{
  padding: 10px 80px;
  border:2px solid #fff;
  font-size: 20px;
}

.form-right-side-text-area .btn-login:hover{
  color: orange;
  border:2px solid orange;
}

.register-page-footer{
  position: relative;
  top: 50px;
}

/******** clipart design **********/

.ellipse3{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.ellipse4{
  position: absolute;
  top: 550px;
  right: 0px;
  z-index: -1;
}

.ellipse5{
  position: absolute;
  bottom: 1000px;
  left: 0px;
  z-index: -1;
}

.clipart6{
  position: absolute;
  top: 500px;
  left: 660px;
  z-index: -1;
}

.clipart7{
  position: absolute;
  top: 1178px;
  right: 100px;
}


/********************* end of css of register page *********************/